/* Base Styles (Mobile first) */
/* header section */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Playfair Display", serif; */
  font-family: "Roboto", sans-serif;
  /* font-weight: ; */
}
img {
  max-width: 100%;
}
header {
  background: #005fa3;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  padding: 1rem 0;
}
.container {
  border: 2px solid yellow;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__name {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.75rem;
  color: white;
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  display: block;
  background: #005fa3;
  padding: 1.25rem 0;
  font-size: 1.125rem;
}
.nav__list {
  border: 2px solid #005fa3;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 250px;
  display: none;
  flex-direction: column;
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}
.nav__list.nav--visible {
  display: flex;
  transform: scaleY(1);
}
.nav__item + .nav__item {
  margin-top: 0.15rem;
}
.nav__link:hover,
.nav__link:focus {
  /* background-color: #e4b363; */
  /* color: #464655; */
  opacity: 0.75;
  font-weight: 700;
}
/* hero section */
.hero {
  position: relative;
  overflow: hidden;
  border: 2px solid blueviolet;
}
.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  clip-path: polygon(0 0, 100% 0, 100% 59%, 0% 100%);
  background: #00b4d2;
  z-index: 0;
}
.hero__image--content {
  position: relative;
  z-index: 1;
  width: 85%;
  margin: 0 auto;
}
.hero__image {
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}
.hero__title {
  font-family: "Playfair Display", serif;
  /* font-size: 2rem; */
  font-weight: 900;
  /* line-height: 2; */
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 2%;
  right: 2%;
}
.hero__title span {
  display: block;
}
.about_me--heading {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}
.about_me__text {
  margin: 1rem 0;
}
.about_me__icons {
  /* font-size: 3rem; */
  width: 2rem;
  display: flex;
  gap: 1rem;
  justify-self: center;
  /* margin: 0 auto; */
  /* align-items: center; */
}
/* Skills section */
.skills,
.projects,
.testimonials,
.resume,
.contact {
  margin-top: 5rem;
}
.section__title {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
  /* border: 2px solid blue; */
}
:root {
  --shadow-color: 221deg 63% 42%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
.frontend {
}
.skills__card {
  width: 80%;
  margin: 0 auto;
  background: gainsboro;
  box-shadow: var(--shadow-elevation-high);
  padding: 2rem 0;
}
.skills__card + .skills__card {
  margin-top: 2rem;
}
.skills__card:hover,
.skills__card:focus {
  box-shadow: var(--shadow-elevation-low);
}
.skills__heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  color: rgb(73, 73, 243);
  /* border: 2px solid blanchedalmond; */
}
.skills__items--container {
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 2px solid blue; */
  margin-left: 3rem;
  /* margin: 0 auto; */
}
.skills__items {
  /* border: 2px solid red; */
  display: flex;
  gap: 1rem;
  /* margin: 0 auto; */
  /* justify-content: center; */
  align-items: center;
}
.skills__items + .skills__items {
  margin-top: 1rem;
}
.skills__items__icon {
  width: 2rem;
}
.skills__items__name {
  /* width: 2rem; */
}

.backend {
}
.backend:hover,
.backend:focus {
}
/* Projects section */
.project__name {
  font-family: "Playfair Display", serif;
}
.project__card--wrapper {
  border: 2px solid blue;
}
.project__card {
  border: 2px solid blueviolet;
  /* max-width: 800px; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.project__card + .project__card {
  margin-top: 2rem;
}
.project-image {
  width: 100%;
  height: 300px; /*       */
  overflow: hidden;
}

.project__screenshoot {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.project__name_and_icons {
  border: 2px solid red;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}
.project__icons {
  width: 1.5rem;
  display: flex;
  gap: 1rem;
  /* border: 2px solid green; */
}
.project__description {
  width: 80%;
  margin: 0 auto;
  font-size: 0.9rem;
  border: 2px solid green;
}
.tech {
  /* font-size: 0.55rem; */
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  gap: 0.5rem;
  /* background: red; */
  /* color: red; */
  /* margin-left: 1rem; */
}
.tech span {
  font-size: 0.65rem;
  background: #00b4d2;
  color: white;
  font-weight: 900;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
  white-space: nowrap; /* Prevent breaking inside span */
}
.tech span:not(:first-of-type) {
  /* margin-left: 1rem; */
  /* background: red; */
}
/* Testimonials */
.testimonials--content {
  transform: rotateZ(0deg);
  box-shadow: 2px 5px 5px 2px;
  padding: 2rem 0;
}
.testimonials--content:hover {
  /* object-fit: cover; */
  /* display: block; */
  transform: rotate(11deg);
  transition: transform 0.2s ease-out;
  box-shadow: none;
}
.testimonials--content p {
  border: 2px solid red;
  /* margin-bottom: 2rem; */
}
.testimonials--content .quote {
  border: 2px solid red;
  margin-top: 3rem;
  /* color: red; */
  font-style: italic;
  /* background: blueviolet; */
}
.quote--speaker {
  font-weight: 900;
  font-style: normal;
  margin-top: 1rem;
  text-align: end;
}
/* Resume section */
.resume--content {
  padding: 2rem 0;
  /* transform: scale(1.2) rotateZ(11deg); */
  /* box-shadow: 2px 5px 5px 2px; */
}
.resume--content:hover {
  /* object-fit: cover; */
  /* display: block; */
  /* transform: scale(1.2) rotateZ(11deg); */
  transform: scale(1.2) rotateZ(0deg);
  transition: transform 0.2s ease-out;
  /* box-shadow: none; */
  box-shadow: 2px 5px 5px 2px;
}
.resume--description {
}
.resume-buttons {
  margin-top: 2rem;
  text-align: center;
  font-weight: 900;
}
.resume-buttons a {
  text-decoration: none;
}
.resume__btn {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 100px;
  background: #005fa3;
  color: white;
}
.resume__btn:hover,
.resume__btn:focus {
  opacity: 0.75;
}
.resume__btn--view {
  /* background: red; */
  margin-left: 2rem;
}
/* Contact section */
.contact__info {

}
.contact__container--wrapper {
  background: #00b4d2;
  /* padding: 1rem 0; */
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.contact__text {
  margin-bottom: 1.5rem;
}
.contact__map-maker__icon,
.contact__phone__icon,
.contact__email__icon {
  width: 2rem;
}
.contact__address--info,
.contact__num--info,
.contact__email--info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact__social--icons {
  display: flex;
  gap: 2rem;
  width: 3rem;
  /* margin: auto; */
  justify-self: center;
  margin-top: 1.5rem;
  border: 2px solid red;
}
.contact__social--icons {
}
.contact__github--icon,
.contact__linkedin--icon {
  /* text-align: center; */
}
.contact-image-inside-container {
  display: none;

}
/* Desktop view */
@media (min-width: 800px) {
  .container {
    /* border: 2px solid yellow; */
    width: 80%;
  }
  .row {
    gap: 1rem;
    align-items: center;
  }
  .nav-toggle {
    display: none;
  }
  .nav__list {
    position: static;
    display: flex;
    flex-direction: row;
    max-width: none;
    width: auto;
    gap: 2rem;
  }
  .nav__link {
    padding: 0;
    margin: 0;

    /* border: 2px solid red; */
  }
  .nav__item + .nav__item {
    margin: 0;
  }
  .nav__link:hover,
  .nav__link:focus {
    font-weight: normal;
  }
}
