/* Base Styles (Mobile first) */
/* header section */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Playfair Display", serif; */
  font-family: "Roboto", sans-serif;
  /* font-weight: ; */
}
img {
  max-width: 100%;
}
header {
  background: #005fa3;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  padding: 1rem 0;
}
.container {
  border: 2px solid yellow;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__name {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.75rem;
  color: white;
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  display: block;
  background: #005fa3;
  padding: 1.25rem 0;
  font-size: 1.125rem;
}
.nav__list {
  border: 2px solid #005fa3;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 250px;
  display: none;
  flex-direction: column;
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}
.nav__list.nav--visible {
  display: flex;
  transform: scaleY(1);
}
.nav__item + .nav__item {
  margin-top: 0.15rem;
}
.nav__link:hover,
.nav__link:focus {
  /* background-color: #e4b363; */
  /* color: #464655; */
  opacity: 0.75;
  font-weight: 700;
}
/* hero section */
.hero {
  position: relative;
  overflow: hidden;
  border: 2px solid blueviolet;
}
.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  clip-path: polygon(0 0, 100% 0, 100% 59%, 0% 100%);
  background: #00b4d2;
  z-index: 0;
}
.hero__image--content {
  position: relative;
  z-index: 1;
  width: 85%;
  margin: 0 auto;
}
.hero__image {
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}
.hero__title {
  font-family: "Playfair Display", serif;
  /* font-size: 2rem; */
  font-weight: 900;
  /* line-height: 2; */
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 2%;
  right: 2%;
}
.hero__title span {
  display: block;
}
.about_me--heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}
.about_me__text {
  margin: 1rem 0;
}
.about_me__icons {
  /* font-size: 3rem; */
  width: 35px;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
}
/* Desktop view */
@media (min-width: 800px) {
  .container {
    /* border: 2px solid yellow; */
    width: 80%;
  }
  .row {
    gap: 1rem;
    align-items: center;
  }
  .nav-toggle {
    display: none;
  }
  .nav__list {
    position: static;
    display: flex;
    flex-direction: row;
    max-width: none;
    width: auto;
    gap: 2rem;
  }
  .nav__link {
    padding: 0;
    margin: 0;

    /* border: 2px solid red; */
  }
  .nav__item + .nav__item {
    margin: 0;
  }
  .nav__link:hover,
  .nav__link:focus {
    font-weight: normal;
  }
}
