/* Base Styles (Mobile first) */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
img {
  max-width: 100%;
}
header {
  background: #005fa3;
  /* color: white; */
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  padding: 1rem 0;
}
.container {
  border: 2px solid yellow;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__name {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.75rem;
  color: white;
  cursor: pointer;
}
.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__list {
  border: 2px solid red;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 250px;
  display: none;
  flex-direction: column;
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}
.nav__list.nav--visible {
  display: flex;
  transform: scaleY(1);
}
.nav__link {
  display: block;
  background: #0077cc;
  color: white;
  padding: 1.25rem;
  transition: background 0.3s, color 0.3s;
}
.nav__link:hover,
.nav__link:focus {
  /* background-color: #e4b363; */
        /* color: #464655; */
  opacity: 0.75;
}
